body {
  background-color: #fff;
}

.header {
    padding-top: .4em;


  .header-bar p {
    color: #526066;
    display: inline-block;
    padding: 0 1em;
    float: left;
    clear: both;
    margin: 0;
  }

  .header-bar ul,li {
    color: #526066;
    display: inline-block;
    padding: 0 1em;
    margin: 0;
  }

  .header-bar a {
    color: #526066;
    text-decoration: none;
    margin: 0;
  }

  .header-banner {
    background-image: url(https://images.unsplash.com/2/05.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=850);
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 200px;
    padding-top: 50px;
    margin: .2em 0 0;
    box-sizing: border-box;
  }

  .header-banner h1 {
    display: block;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    line-height: .5em;
  }
}

.plans {
  display: block;
  width: 98%;
  margin: .5em auto 2em;
  text-align: center;

  .plans-item {
    background-color: #FFFFFF;
    width: auto;
    border: solid .5px #EAEAEA;
    margin: 2em 0 0 0;

      .plans-item-banner {
        border: solid .5px #EAEAEA;
      }

      .plans-item-banner h1 {
        color: #FFFFFF;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;
        letter-spacing: .25em;
        margin: .2em 0 0;
      }

      .plans-item-banner h2 {
        color: rgba(255, 255, 255, .6);
        font-size: 1.2em;
        font-weight: 400;
        padding-bottom: 2em;
        margin: 0;

      }

      .plans-item-banner h3 {
        color: #FFFFFF;
        font-weight: 100;
        font-size: 6em;
        margin: 0 0 0;
      }

      p {
        color: #526066;
        background-color: #F7F7F7;
        border-bottom: solid .5px #E7E7E7;
        padding: .8em 0;
        margin: 0;

      }

      span {
            display: block;
            height: 50px;
            padding: 20px;
            background-color: #FFFFFF;
      }

      span a {
            color: #111;
            font-weight:bold;
            background-color: #FFFFFF;
            display: block;
            border: solid .5px #EAEAEA;
            width: 5em;
            padding: .5em;
            margin: 5px auto;
            height: 1em;
            border-radius: 20px 20px / 20px;
            text-decoration:none;
      }
    }
  }
  .content{
    display: block;
    margin: 0 auto 0;

    .content-article {
      padding: .5em 2em;
    }
    .content-article h2 {
      font-weight: 500;
      font-size: 1.1em;
      letter-spacing: .25em
    }
    .content-article p {
      color: #526066;
      margin: 1em 0;
      line-height: 1.6em;
    }
  }
  .footer {
    color: #888;
    padding: .5em 2em;
    text-align: center;
    line-height: 1.6em;
    background-color: #111;
  }

  .footer a {
    color: white;
  }

  /*
  _________________________________________
  Media queries adjustment stylings
  –––––––––––––––––––––––––––––––––––––––––
  */


  /*
  Adjustments for under 479px
  =========================================
  */

  @media (min-width: 479px) {
    .header{
      .header-banner {
        height: 400px;
        padding-top: 150px;
      }
      .header-banner h1 {
        font-size: 2.9em;
      }
    }
  }

  /*
  Adjustments for 768px - 978px
  =========================================
  */

  @media (min-width: 768px) {

    .plans {
        width: 100%;

       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       -ms-flex-direction: row;
       flex-direction: row;
       -webkit-flex-wrap: nowrap;
       -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
       -webkit-justify-content: space-around;
       -ms-flex-pack: distribute;
       justify-content: space-around;
       -webkit-align-content: stretch;
       -ms-flex-line-pack: stretch;
       align-content: stretch;
       -webkit-align-items: stretch;
       -ms-flex-align: stretch;
       align-items: stretch;
       max-width: 989px;
     }

    .plans-item:nth-child(1) {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-flex: 0 1 31%;
        -ms-flex: 0 1 31%;
        flex: 0 1 31%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 301px;
        }

    .plans-item:nth-child(2) {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex: 0 1 31%;
        -ms-flex: 0 1 31%;
        flex: 0 1 31%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 301px;
        }

    .plans-item:nth-child(3) {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        -webkit-flex: 0 1 31%;
        -ms-flex: 0 1 31%;
        flex: 0 1 31%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 301px;
        }

    .content {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: flex-start;
        max-width: 989px;
        }

    .content-article:nth-child(1) {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-flex: 0 1 42%;
        -ms-flex: 0 1 42%;
        flex: 0 1 42%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 475px;
        }

    .content-article:nth-child(2) {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex: 0 1 42%;
        -ms-flex: 0 1 42%;
        flex: 0 1 42%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 475px;
        }

    .content-article:nth-child(3) {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        -webkit-flex: 0 1 42%;
        -ms-flex: 0 1 42%;
        flex: 0 1 42%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 475px;
        }

    .content-article:nth-child(4) {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
        -webkit-flex: 0 1 42%;
        -ms-flex: 0 1 42%;
        flex: 0 1 42%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 475px;
        }
      }
    /*
    Adjustments for 979px and over
    =========================================
    */

    /*  adjustments for 979px and over made by setting max-width's
    */
