body {
  background-color: #fff;
}

.header{

  .header-bar p {
    color: #526066;
    display: inline-block;
    padding: .5em 1em;
    float: left;
    clear: both;
    margin: 0;
  }

  .header-bar ul li {
    color: #526066;
    display: inline-block;
    padding: .5em 1em;
    margin: 0;
  }

  .header-bar a {
    color: #526066;
    text-decoration: none;
  }

  .header-banner {
    background-image: url(https://images.unsplash.com/2/05.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=850);
    display: block;
    vertical-align: middle;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    height: 200px;
    padding-top: 50px;
    margin-bottom: 3em;
    box-sizing:border-box;
  }
  .header-banner h1 {
    display: block;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    line-height: .5em;
  }
}

.plans {
  display: block;
  width: 95%;
  margin: .5em auto 2em;
  text-align: center;

  .plans-item {
    background-color: #FFFFFF;
    width: auto;
    border: solid .5px #EAEAEA;
    margin: 2em 0 0 0;

      .plans-item-banner {
        border: solid .5px #EAEAEA;
      }

      .plans-item-banner h1 {
        color: #FFFFFF;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;
        letter-spacing: .25em;
        margin: .2em 0 0;
      }

      .plans-item-banner h2 {
        color: rgba(255, 255, 255, .6);
        font-size: 1.2em;
        font-weight: 400;
        padding-bottom: 2em;
        margin: 0;

      }

      .plans-item-banner h3 {
        color: #FFFFFF;
        font-weight: 100;
        font-size: 6em;
        margin: 0 0 0;
      }

      p {
        color: #526066;
        background-color: #F7F7F7;
        border-bottom: solid .5px #E7E7E7;
        padding: .8em 0;
        margin: 0;

      }

      span {
            display: block;
            height: 50px;
            padding: 20px;
            background-color: #FFFFFF;
      }

      span a {
            color: #111;
            font-weight:bold;
            background-color: #FFFFFF;
            display: block;
            border: solid .5px #EAEAEA;
            width: 5em;
            padding: .5em;
            margin: 5px auto;
            height: 1em;
            border-radius: 20px 20px / 20px;
            text-decoration:none;
      }
    }
  }
  .content{
    display: block;

    .content-article {
      padding: .5em 2em;
    }
    .content-article h2 {
      font-weight: 500;
      font-size: 1.1em;
      letter-spacing: .25em
    }
    .content-article p {
      color: #526066;
      margin: 1em 0;
      line-height: 1.6em;
    }
  }
  .footer {
    color: #888;
    padding: .5em 2em;
    text-align: center;
    line-height: 1.6em;
    background-color: #111;
  }

  .footer a {
    color: white;
  }

  /*
  Adjustments for Phone Sizes
  =========================================
  */

  @media (min-width: 479px) {
    .header{
      .header-banner {
        height: 400px;
        padding-top: 150px;
      }
      .header-banner h1 {
        font-size: 2.9em;
      }
    }
  }
